h2 { 
     padding-top: 12pt;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 124%;
     color: #305070; 
    } 
    
h2 code {font-size: 133%;}    
    
h3 { 
     padding-top: 8pt;
     font-family: sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 100%;
     color:#305070; 
    } 
    
h4 { 
     padding-top: 8pt;
     font-family: sans-serif;
     font-weight: bold;
     font-style: italic;
     font-size: 100%;
     color:#305070; 
    } 
    
p   { padding-top: 8pt;}

pre {padding-top: 6pt;
     padding-bottom: 6pt;
     padding-left: 6pt;
     background-color: #eeeeff;
     margin-left: 24pt;
     margin-right: 44pt;
}
    
table {background-color: #ddeeff;
       border-color: white; 
       border-collapse: collapse; 
       margin-left: 24pt;
      }
       
       
       
