h2 { 
     padding-top: 8pt;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 124%;
     color: #305070; 
    } 
    
h3 { 
     padding-top: 6pt;
     font-family: sans-serif;
     font-weight: bold;
     font-style: normal;
     font-size: 112%;
     color:#305070; 
    } 
    
h4 { 
     padding-top: 4pt;
     font-family: sans-serif;
     font-weight: bold;
     font-style: italic;
     font-size: 112%;
     color:#305070; 
    } 
    
p   { margin-top: 6pt;}
    
table {background-color: #ffffdd;
       border-color: white; 
       border-collapse: collapse; }
